footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    position: relative;
    overflow: hidden;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0,0,0,0.1) 25%, transparent 25%) -40px 0,
                linear-gradient(225deg, rgba(0,0,0,0.1) 25%, transparent 25%) -40px 0,
                linear-gradient(315deg, rgba(0,0,0,0.1) 25%, transparent 25%),
                linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%);
    background-size: 80px 80px;
    opacity: 0.08;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    display: inline-block;
    color: var(--color-bg);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    position: relative;
}

.permalinks::after {
    content: '';
    width: 80%;
    height: 1px;
    background: var(--color-bg);
    position: absolute;
    left: 10%;
    bottom: -1.5rem;
    opacity: 0.3;
}

.permalinks a {
    color: var(--color-bg);
    transition: var(--transition);
    font-weight: 500;
    position: relative;
}

.permalinks a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--color-bg);
    transition: width 0.3s ease;
    opacity: 0.8;
}

.permalinks a:hover::after {
    width: 100%;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
    transform: translateY(-5px);
}

.footer__copyright {
    color: var(--color-bg);
    margin-bottom: 4rem;
    opacity: 0.75;
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}